%h2 The system allows customers to be able to place support request and the support agents to process the requests.
%h3 The system implements the following specifications:
%ul 
  %h4
    For customers
  %li 
    A web portal to create support requests and to view status of previous requests.
%ul 
  %h4
    For support agents
  %li 
    A web portal to find and process support requests.
  %li 
    One report, on requests data, with all tickets closed in the last one month; Should be PDF exportable.
%ul 
  %h4
    Other functional requirements
  %li 
    Users should be able to authenticate normally
  %li 
    An admin user should be able to manage other users and any other system objects.