!!!
%html
  %head
    %meta{:content => "text/pdf; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
  %body
    #header
      Tickets System
    #content
      = yield
