.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Desc
        %th Customer
        - if resolved
          %th Resolution date
    %tbody
      - listed_tickets.each do |ticket|
        %tr
          %td= ticket.desc
          %td= ticket.customer
          - if ticket.resolved?
            %td= ticket.resolution_date

